* {
    box-sizing: border-box;
}

img,
video,
canvas {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.container {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
}

/* header section */
header {
    box-shadow: 0 3px 6px #00000029;
}

.header .container {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar>a {
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    color: #08A6E4;
    text-decoration: none;
}

.nav-list {
    display: flex;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin-left: 75px;
}

.nav-list a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    color: #A5A5A5;
    text-decoration: none;
    padding: 28px 10px 24px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.nav-list a:hover {
    color: #000;
    border-bottom: 3px solid #08A6E4;
}


/* opening section */


.opening {
    background-image: url(../assets/Background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

}

.opening .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening .container h1 {
    font-size: 49px;
    font-weight: 400;
    line-height: 57px;
    padding-top: 130px;
}

.opening .container p {
    font-family: "Open Sans"sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 20px 0 38px;

}

.btn {
    font-family: "Open Sans"sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
}

.opening-btn {
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 22px 157px;
    margin-bottom: 508px;

}