* {
    box-sizing: border-box;
}

img,
video,
canvas {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.container {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
}

/* header section */
header {
    box-shadow: 0 3px 6px #00000029;
}

.header .container {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar>a {
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    color: #08A6E4;
    text-decoration: none;
}

.nav-list {
    display: flex;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin-left: 75px;
}

.nav-list a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    color: #A5A5A5;
    text-decoration: none;
    padding: 28px 10px 24px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.nav-list a:hover {
    color: #000;
    border-bottom: 3px solid #08A6E4;
}


/* opening section */


.opening {
    background-image: url(../assets/Background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.opening .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening .container h1 {
    font-size: 49px;
    font-weight: 400;
    line-height: 57px;
    padding-top: 130px;
}

.opening .container p {
    font-family: "Open Sans"sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 20px 0 38px;
}

.btn {
    font-family: "Open Sans"sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
}

.opening-btn {
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 22px 157px;
    margin-bottom: 508px;
}


/* stats section */
.stats {
    display: flex;
}

.stats .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats .container>h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin: 100px 0;
}

.stats-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.stats-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 167px;
    width: 170px;
    margin-bottom: 121px;
    position: relative;
}

.bg-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.stats-col:nth-child(1) .bg-circle {
    background: #FB3B64;
}

.stats-col:nth-child(2) .bg-circle {
    background: #08A6E4;
}

.stats-col:nth-child(3) .bg-circle {
    background: #55DFB4;
}

.stats-col img {
    position: absolute;
    right: 30px;
}

.stats-col:first-child img {
    right: 42px;
    top: 3px;
}

.stats-col:nth-child(2) img {
    top: 14px;
}

.stats-col:last-child img {
    top: 6px;
}

/* .stats-col img::before{
    content: "";
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #FB3B64;
    position: relative;
    z-index: -1;
    top: 10px

} */

.stats-col p:nth-child(3) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    padding: 22px 0 19px;
}

.stats-col p:nth-child(4) {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #A5A5A5;
    text-align: center;
}


/* benefit section */

.benefits {
    background-color: #F7F7F7;
    padding-top: 105px;
}

.benefits .container {
    width: 1124px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.article-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 91px 0 91px 35px;
    /* width: 50%; */
}

.article h3 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.article p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 416px;
    height: 72px;
    flex-grow: 1;
    padding: 30px 0 50px;
    overflow: hidden;
}

.article::after {
    content: "";
    display: block;
    width: 327px;
    border-bottom: 4px solid #FB3B64;

}

.bg-square {
    position: relative;
    z-index: 0;
    width: 180px;
    height: 180px;
    background: #FB3B64;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 374, 82);
}

.article-row1 img {
    width: 386px;
    height: 219px;
    margin: 113px 117px 38px 0;
    position: relative;
    z-index: 1;
}

/* .article-row img::before{
    content:"";
    display: block;
    width: 255px;
    height: 255px;
    border-radius: 41px;
    background: #FB3B64;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    z-index: 0;
} */


.article-row2 {
    flex-direction: row-reverse;
    margin: 37px 0;
}

.bg-circle-big {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 0;
    width: 320px;
    height: 320px;
    background: #07ACE6;
    border-radius: 50%;
    top: 12px;
    left: 70px;
}

.article-row2 img {
    width: 426px;
    height: 328px;
    margin: 29px 0 13px 70px;
    position: relative;
    z-index: 1;
}

.article-row2 .article {
    width: 416px;
    margin: 69px 20px 71px 0;
    /* width: 50%; */
}

.article-row2 .article::after {
    border-bottom: 4px solid #08A6E4;
}

.article-row3 {
    width: 623px;
    height: 370px;
    margin: 0 61px 105px 0;
}

.article-row3 .article {
    width: 623px;
    margin: 69px 34px 71px 35px;
    /* background: #fff; */
}

.img-container {
    width: 440px;
    height: 370px;
    background: #55DFB4;
}

.article-row3 .article::after {
    border-bottom: 4px solid #55DFB4;
}

.img-container img {
    width: 295px;
    height: 208px;
    margin: 98px 0 0 62px;
}


/* pricing section */

.pricing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1266px;
}

.pricing-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pricing .container h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin: 100px 0 50px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    width: 372px;
    /* height: 461px; */
}

.basic-pricing {
    border: 1px solid #FB3B64;
}

.professional-pricing {
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
    width: 405px;
    /* height: 500px; */
}

.premium-pricing {
    border: 1px solid #55DFB4;
}

.pricing-card h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 34px 0 14px;
}

.pricing-card p:nth-child(2) {
    font-family: "Open Sans", sans-serif;
    font-size: 46px;
    font-weight: 300;
}

.pricing-card p:nth-child(3) {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.basic-pricing p {
    color: #FB3B64;
    line-height: 64px;
}

.professional-pricing p:first-of-type {
    color: #07ACE6;
    line-height: 70px;
    margin-bottom: 5px;

}

.premium-pricing p:first-of-type {
    color: #55DFB4;
    line-height: 64px;
    margin-bottom: 5px;
}

.pracing-card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-pricing-list {
    margin: 69px 0 25px;
}

.professional-pricing-list {
    margin: 61px 0 17px;
}

.premium-pricing-list {
    margin: 50px 0 25px;
}

.pricing-card li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 20px;
    text-align: center;
}

.professional-pricing-list li {
    padding-bottom: 26px;
}

.pricing-card li:before {
    content: url(../assets/Ckechmark-1.svg);
    display: inline-block;
    margin-right: 10px;
}

.basic-pricing li:nth-child(n+3)::before {
    content: url(../assets/Close.svg)
}

.professional-pricing li:nth-child(n+4)::before {
    content: url(../assets/Close.svg)
}

.pricing-btn {
    font-family: "Open Sans", sans-serif;
    font-style: 13px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
    padding: 16px 57px;
    border-radius: 23px;
    position: relative;
    transform: translate(0, 50%);
}

.red-btn {
    background: #EB476E;
}

.blue-btn {
    background: #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
}

.green-btn {
    background: #55DFB4;
}

.contact .container {
    width: 896px;
    display: flex;
    padding:179px 0 59px;
}

.questions-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.questions-col h3 {
    font-size: 49px;
    font-weight: 400;
    line-height: 57px;
}

.questions-col > p:nth-child(2){
    font-weight: 400;
    color: #000;
    margin: 22px 0 42px;
}

.questions-col > p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #A5A5A5;
}
.mail-tel{
    display: flex;
    flex-direction: row;

}
/* .email::before */

.forms {
    display: flex;
    flex-direction: column;
    width: 440px;
}

label{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    color: #08A6E4;
    text-align: left;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    height: 42px;
    box-sizing: border-box; 
    border: none;
    border-bottom: 1px solid #95989A;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    padding: 8px 12px;
}
input[type="text"]{
    margin-bottom: 42px;
}
input[type="email"]{
margin-bottom: 30px;
}

input[type="text"]:hover,
input[type="email"]:hover{
    box-shadow: 0 -10px 10px -5px #07ACE629 inset
}

input[type="text"]:focus,
input[type="email"]:focus{
    border-bottom: 2px solid #07ACE6;
}

.agreement input{
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.agreement{
    cursor: pointer;
    display: flex;
}

.agreement span{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #95989A;
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0;
    padding: 6px;
}

.agreement input:checked + span{
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: cover;
}

.send-btn{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    padding: 20px 97px;
    background: #08A6E4;
    border-radius: 35px;
    text-decoration: none;
    align-self: flex-end;
    color: #fff;
    margin-top: 20px;
}
.send-btn:active {
    box-shadow: 5px 10px 14px #07ACE629;
}

/* footer section */
.footer{
    box-shadow: 0 -5px 40px #00000029;
    background-color: #F7F7F7;

}

.footer .container{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 21px 0 17px;
}

.logo>a{
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
    color: #08A6E4;
    text-decoration: none;
    margin-bottom: 6px;
    

}

.logo p{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 15px;
    font: 400px;
    color: #A5A5A5;
}
.media{
    display: flex;
    margin-top: 35px;
}
.media > a{
    margin-left: 20px;
}
.media img{
    width: 24px;
    height: 24px;
}





/* TO DO  */
/* use ::before instead ov divs in background images */
/* add icons to questions section  */
/* make checkbox checked img smaller */
/* anchor tags */