/* variables */
:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-shadow: #00000029;
    --color-dark-shadow: #07ACE629;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --color-border: #E8E9ED;
    --color-dark-border: #95989A;

    --font-main: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    font-size: 10px;
    color: var(--color-black);
}

* {
    box-sizing: border-box;
}

img,
video,
canvas {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: var(--font-main);
}

.container {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
}


/* header section */
header {
    box-shadow: 0 3px 6px var(--color-shadow);
}

.header .container {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar>a {
    font-size: 3.2rem;
    line-height: 3.7rem;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.nav-list {
    display: flex;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin-left: 75px;
}

.nav-list a {
    display: inline-block;
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--color-grey);
    text-decoration: none;
    padding: 28px 10px 24px;
    border-bottom: 3px solid transparent;
}

.nav-list a:hover {
    border-bottom: 3px solid var(--color-primary);
}


/* opening section */


.opening {
    background-image: url(../assets/Background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.opening .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening .container h1 {
    font-size: 4.9rem;
    font-weight: 400;
    line-height: 5.7rem;
    padding-top: 130px;
}

.opening .container p {
    font-family: var(--font-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 20px 0 38px;
}

.btn {
    font-family: var(--font-secondary);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--color-white);
    border-radius: 40px;
    text-decoration: none;
}

.opening-btn {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 22px 157px;
    margin-bottom: 508px;
}


/* stats section */
.stats {
    display: flex;
}

.stats .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats .container>h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-weight: 400;
    margin: 100px 0;
}

.stats-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.stats-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 167px;
    width: 170px;
    margin-bottom: 121px;
    position: relative;
}

.bg-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.stats-col:nth-child(1) .bg-circle {
    background: var(--color-redish);
}

.stats-col:nth-child(2) .bg-circle {
    background: var(--color-primary);
}

.stats-col:nth-child(3) .bg-circle {
    background: var(--color-green);
}

.stats-col img {
    position: absolute;
    right: 30px;
}

.stats-col:first-child img {
    right: 42px;
    top: 3px;
}

.stats-col:nth-child(2) img {
    top: 14px;
}

.stats-col:last-child img {
    top: 6px;
}


.stats-col p:nth-child(3) {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 800;
    padding: 22px 0 19px;
}

.stats-col p:nth-child(4) {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--color-grey);
    text-align: center;
}


/* benefit section */

.benefits {
    background-color: var(--color-light-grey);
    padding-top: 105px;
}

.benefits .container {
    width: 1124px;
    display: flex;
    flex-wrap: wrap;
}

.article-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background: var(--color-white);
    position: relative;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 91px 0 91px 35px;
}

.article h3 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-weight: 400;
}

.article p {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    width: 416px;
    height: 72px;
    flex-grow: 1;
    padding: 30px 0 50px;
    overflow: hidden;
}

.article::after {
    content: "";
    display: block;
    width: 327px;
    border-bottom: 4px solid var(--color-redish);

}

.bg-square {
    position: relative;
    z-index: 0;
    width: 180px;
    height: 180px;
    background: var(--color-redish);
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 374, 82);
}

.article-row1 img {
    width: 386px;
    height: 219px;
    margin: 113px 117px 38px 0;
    position: relative;
    z-index: 1;
}

.article-row2 {
    flex-direction: row-reverse;
    margin: 37px 0;
}

.bg-circle-big {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 0;
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    border-radius: 50%;
    top: 12px;
    left: 70px;
}

.article-row2 img {
    width: 426px;
    height: 328px;
    margin: 29px 0 13px 70px;
    position: relative;
    z-index: 1;
}

.article-row2 .article {
    width: 416px;
    margin: 69px 20px 71px 0;
}

.article-row2 .article::after {
    border-bottom: 4px solid var(--color-primary);
}

.article-row3 {
    width: 623px;
    height: 370px;
    margin: 0 61px 105px 0;
}

.article-row3 .article {
    width: 623px;
    margin: 69px 34px 71px 35px;
}

.img-container {
    width: 440px;
    height: 370px;
    background: var(--color-green);
}

.article-row3 .article::after {
    border-bottom: 4px solid var(--color-green);
}

.img-container img {
    width: 295px;
    height: 208px;
    margin: 98px 0 0 62px;
}


/* pricing section */

.pricing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1266px;
}

.pricing-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pricing .container h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-weight: 400;
    margin: 100px 0 50px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    width: 372px;
}

.basic-pricing {
    border: 1px solid var(--color-redish);
}

.professional-pricing {
    border: 1px solid var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-dark-shadow);
    width: 405px;
}

.premium-pricing {
    border: 1px solid var(--color-green);
}

.pricing-card h4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 34px 0 14px;
}

.pricing-card p:nth-child(2) {
    font-family: var(--font-secondary);
    font-size: 4.6rem;
    font-weight: 300;
}

.pricing-card p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
}

.basic-pricing p {
    color: var(--color-redish);
    line-height: 6.4rem;
}

.professional-pricing p:first-of-type {
    color: var(--color-primary);
    line-height: 7rem;
    margin-bottom: 5px;

}

.premium-pricing p:first-of-type {
    color: var(--color-green);
    line-height: 6.4rem;
    margin-bottom: 5px;
}

.pracing-card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-pricing-list {
    margin: 69px 0 25px;
}

.professional-pricing-list {
    margin: 61px 0 17px;
}

.premium-pricing-list {
    margin: 50px 0 25px;
}

.pricing-card li {
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding-bottom: 20px;
    text-align: center;
}

.professional-pricing-list li {
    padding-bottom: 26px;
}

.pricing-card li:before {
    content: url(../assets/Ckechmark-1.svg);
    display: inline-block;
    margin-right: 10px;
}

.basic-pricing li:nth-child(n+3)::before {
    content: url(../assets/Close.svg)
}

.professional-pricing li:nth-child(n+4)::before {
    content: url(../assets/Close.svg)
}

.pricing-btn {
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 57px;
    border-radius: 23px;
    position: relative;
    transform: translate(0, 50%);
}

.red-btn {
    background: var(--color-redish);
}

.blue-btn {
    background: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-dark-shadow);
}

.green-btn {
    background: var(--color-green);
}

.contact .container {
    width: 896px;
    display: flex;
    padding: 179px 0 59px;
}

.questions-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.questions-col h3 {
    font-size: 4.9rem;
    font-weight: 400;
    line-height: 5.7rem;
}

.questions-col>p:nth-child(2) {
    font-weight: 400;
    margin: 22px 0 42px;
}

.questions-col>p {
    font-family: var(--font-secondary);
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: var(--color-grey);
}

.mail-tel {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mail-tel img{
    margin-right: 10px;
    
}
.mail-tel p{
    font-family: var(--font-secondarysecondary);
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--color-grey);
    margin-right: 20px;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 440px;
}

label {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--color-primary);
    text-align: left;
}
.agreement p{
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: var(--color-grey);
    font-weight: 400;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    outline: none;
    font-family: var(--font-secondary);
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    padding: 8px 12px;
}

input[type="text"] {
    margin-bottom: 42px;
}

input[type="email"] {
    margin-bottom: 30px;
}

input[type="text"]:hover,
input[type="email"]:hover {
    box-shadow: 0 -10px 10px -5px var(--color-dark-shadow) inset
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-bottom: 2px solid var(--color-primary);
}

.agreement input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.agreement {
    cursor: pointer;
    display: flex;
}

.agreement span {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--color-dark-border);
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0;
    padding: 6px;
}

.agreement input:checked+span {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 12px 11px;
    background-repeat: no-repeat;
}

.send-btn {
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 700;
    padding: 20px 97px;
    background: var(--color-primary);
    border-radius: 35px;
    text-decoration: none;
    align-self: flex-end;
    color: var(--color-white);
    margin-top: 20px;
}

.send-btn:active {
    box-shadow: 5px 10px 14px var(--color-dark-shadow);
}

/* footer section */
.footer {
    box-shadow: 0 -5px 40px var(--color-shadow);
    background-color: var(--color-light-grey);

}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 21px 0 17px;
}

.logo>a {
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
    margin-bottom: 6px;

}

.logo p {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    line-height: 1.5rem;
    font: 400px;
    color: var(--color-grey);
}

.media {
    display: flex;
    margin-top: 35px;
}

.media>a {
    margin-left: 20px;
}

.media img {
    width: 24px;
    height: 24px;
}

/* TO DO  */
/* use ::before instead ov divs in background images */